@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
 box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif ;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
}

.container{
 display: flex;
 width: 40vw;
}

.panel{
 background-size: auto 100%;
 background-repeat: no-repeat;
 height: 80vh;
 flex: 0.5;
 border-radius: 40px;
 margin: 10px;
 transition: flex 0.7s ease;
 color: #fff;
 position: relative;
 cursor: pointer;
}

.panel h3{
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 24px;
    margin: 0;
    opacity: 0;

}
.panel.active{
flex: 5;
}

.panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s ;
}

@media (max-width: 640px){
    .container{
        width: 100vw;
    }
}

@media (min-width: 641px) and (max-width: 1024px){
    .container{
        width: 60vw;
    }
}